*.pyc
*.log
*.root
*_dump.py
*_configdump.yml

*/python/__init__.py

#cfg/python/Lumberjack/__init__.py
#cfg/python/Palisade/__init__.py

PlottingNPCorr.egg-info/
#PlottingNPCorr/

.idea

*.txt
*.pdf
*.png

.vscode/settings.json
